// Paleta de colores para Alejo Tools
$color-bg-main: #18171c;
$color-bg-secondary: #232228;
$color-bg-gradient-center: #232228cc;
$color-bg-gradient-edge: #18171c00;
$color-yellow: #ffd34e;
$color-yellow-dark: #e6b800;
$color-white: #fff;
$color-gray: #bdbdbd;
$color-gray-dark: #444;
$color-border: #2a292f;
