@use "../../../styles/variables" as *;

.heroSection {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0 16px;
}

.title {
  color: $color-white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.accent {
  color: $color-yellow;
  font-weight: 700;
}

.description {
  color: $color-gray;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.subDescription {
  color: $color-gray;
  font-size: 1rem;
  margin-bottom: 0;
}

.bold {
  color: $color-yellow;
  font-weight: 700;
}

@media (max-width: 767px) {
  .title {
    font-size: 1.65rem;
  }
  .description {
    font-size: .9rem;
  }
  .subDescription {
    font-size: .9rem;
  }
}